@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}
img{
    height: 100%;
    width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    
}
.mt-mb{
    margin-top: 30px;
    margin-bottom: 30px;
}


.logo{
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
}
span{
    font-weight: bolder;
    padding: 0px 10px;
    font-size: 22px;
}
.search{
    /* right: 30px; */
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.354);
    border-radius: 30px;
    align-items: center;
}
.search:hover input{
    width: 400px;
}
.search input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.search a .fa-solid{
    font-size: 15px;
}

header{
    min-height: 100vh;
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.651),rgba(0, 0, 0, 0.463)),url('./assets/main-bg.jpg') no-repeat;
    background-position: right;
    background-size: cover;
    position: relative;
    animation: fadein 1s;
}
.header-container{
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.368);
    padding: 0px 25px;
}
.navlinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: black; */
    width: 40%;
}
.navlinks>li>a{
    color: black;
    font-weight: bold;
    font-size: 18px;
}
.navlinks>li::after{
    content: '';
    display: block;
    height: 3px;
    transform: scale(0);
    background: #064851;
    transition: transform 300ms;
}
.navlinks>li:hover::after{
    transform: scale(1);

}
.menu{
    display: none;
}

/* MAIN CONTENT */

.main-content{
    /* background-color: white; */
    color: white;
    height: 50vh;
    padding: 0px 30px;
    width: 50%;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 300ms;
}
@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.main-content>h1{
    font-size: 70px;
    font-weight: bold;
}
p{
    text-align: justify;
    font-size: 18px;
}
.btn{
    background-color: #0d1137;
    padding: 10px 15px;
    text-align: center;
    border-radius: 10px;
    width: 25%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    transition: all 300ms;
}
.btn:hover{
    background-color: #FF1D46;
}


/* Section 1 */

#section-1{
    min-height:100vh;
    background: #0d1137 url('./assets/pattern.png') no-repeat right/cover;
    position: relative;
    width: 100%;

}
.sec-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    /* background-color: white; */
    transform: translateX(50%);
    color: white;
}
.sec-heading>h1{
    font-size: 70px;
    font-weight: bold;
    color: white;
    padding-top: 15px;

}
.sec-heading>p{
    line-height: 42px;
    font-size: 18px;
}

.menu-card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: red; */
    justify-content: center;
    gap: 20px;
    /* height: 50vh; */

}
.wrap-card{
    padding: 0px 60px;
}
.card-items{
    /* background-color: rgb(0, 0, 0); */
    color: white;
    height: 300px;
    width: 300px;
    border-radius: 15px;
    text-align: center;
    padding: 10px 20px; 
}
.card-img{
    height: 150px;
    width: 150px;
    margin: auto;
    margin-top: 30px;
}
.card-items>h3{
    font-weight: bold;
}
.card-items>p{
    font-size: 18px;
    text-align: center;
}

/* section-2 */
#section-2{
    min-height:100vh;
    background: #ffd17e url('./assets/pattern2.png') no-repeat right/cover;
    position: relative;
    width: 100%;

}
#section-2>.menu-card{
    transform: translateY(20%);
    gap: 10px;
    flex-wrap: nowrap;
}

.left-column{
    /* background: red; */
    height: 100%;
    width: 50%;

}
.left-img{
    height: 500px;
    width: 400px;
    margin: auto;
}
.right-column{
    /* background-color: white; */
    height: 100%;
    width: 50%;
}
.title{ 
    display: flex;
    flex-direction: column;
    /* transform: translateY(30%); */
    padding-right: 20px;
}
.title>h1{
    font-size: 70px;
    font-weight: bold;
    
}
.title>.btn{
    margin-top: 5vh;
}
/* section-3 */
#section-3{
    min-height:100vh;
    background: #0d1137 url('./assets/pattern.png') no-repeat right/cover;
    position: relative;
    width: 100%;

}
.circle{
    border: 5px solid white;
    height: 300px;
    width: 300px;
    color: white;
    text-align: center;
    /* background-color: red; */
    border-radius:100% ;
}
.circle-content{
transform: translateY(50%);

}
.circle-content>h1{
    font-size: 50px;
    font-weight: bold;
    margin: auto;
}
.circle-content>p{
    font-size: 40px;
    text-align: center;
}
#section-3>.menu-card{
    gap: 50px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
/* section-4 */

#section-4{
    min-height:100vh;
    background:linear-gradient(#0d113796,#0d113790),url('./assets/bg.jpg') no-repeat center/cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;

}
.four-contain{
    /* background: black; */
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    color: white;
    margin: auto;
}
.testi-img{
    height: 150px;
    width: 140px;
    margin: auto;
}
.sec-four>p{
    margin: 20px 0;
    font-size: 18px;

}
.sec-four>h2{
    font-size: 30px;
    font-weight: bold;
    text-align:center;

}
/* section-5 */
#section-5{
    min-height:100vh;
    background: #ffd17e url('./assets/pattern2.png') no-repeat right/cover;
    position: relative;
    width: 100%;

}
.search-box{
display: flex;
align-items: center;
justify-content: center;
transform: translateY(-50%);
margin-top: 15vh;

}
.search-box input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}
.search-box input[type="text"]{
    background-color: white;

    width: 350px;
    height:50px;
    padding: 0 25px;
    border: none;
    border-radius: 25px 0 0 25px;
    outline: none;
}
.search-box input[type="submit"]{
    border-radius:25px;
    height: 53px;
    width: 150px;
    left: -25px;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    background-color: #0d1137;
    color: white;
    padding: 0 20px;
}
.subsribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    transform: translateX(50%);
    /* background-color: white; */
    color: white;
}
.subsribe>h1{
    font-size: 70px;
    font-weight: bold;
    /* text-align: center; */
    padding-top: 15px;
    
}
.subsribe>p{
    font-size: 18px;
    line-height: 1.5em;
    padding: 20px 0;
    text-align: center;
}
/* footer */
footer{
    min-height: 80vh;
    background-color: black;
    position: relative;
}
.colparent{
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
}

.col1{
    /* background-color: aqua; */
    height: 500px;
    width: 40%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
    color: white;
    padding: 0px 25px;
}
.col1>h1{
    font-weight: bold;
}
.foot-icons .fa-brands{
    font-size: 25px;
    padding: 20px;
    background: white;
    color: black;
    border-radius: 100%;
}
.foot-icons>a{
    padding-left: 10px;
}
.fa-brands:hover{
    background-color: #FF1D46;
    color: white;
}
.col2{
    /* background-color: red; */
    height: 420px;
    width: 20%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
    color: white;
    padding: 0px 25px;
}
.foot-abt>h1{
    font-weight: bold;
}
.abt-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #0d1137; */
    text-align: left;
    height: 100%;
    font-size: 18px;
}
.abt-links>li>a:hover{
    text-decoration: underline;
    text-decoration: #064851;
}

.col3{
    /* background-color: red; */
    height: 420px;
    width: 20%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
    color: white;
    padding: 0px 25px;
}
.col4{
    /* background-color: red; */
    height: 420px;
    width: 20%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* gap: 20px; */
    color: white;
    padding: 0px 25px;
    /* margin-top: -4vh; */
}

.divider{
    width: 100%;
    height: 1px;
    background-color: #FF1D46;
}
.copyright>p{
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
}

@media only screen and (max-width:1024px){
    .main-content{
        height: 50vh;
    }
    .main-content>h1{
        font-size: 20px;
        font-weight: bold;
    }
    .main-content>p{
        font-size: 12px;
    }
    .btn{
        font-size: 12px;
        width: 50%;
    }
    /* section-1 */
    .sec-heading>h1{
        font-size: 35px;
    }
    .sec-heading>p{
        font-size: 12px;
        line-height: 20px;
    }
    .card-items>h3{
        font-size: 15px;
    }
    .card-items>p{
        font-size: 15px;
        /* text-align: center; */
    }
    .menu-card{
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    /* Section-2 */
    #section-2>.menu-card{
        transform: translateY(30%);
        gap: 10px;
        flex-wrap: nowrap;
        padding-bottom: 20px;
    }
    .left-img{
        height: 200px;
        width: 250px;
    }
    .title>h1{
        font-size: 30px;
    }
    .title>p{
        font-size: 15px;
    }
    #section-3>.menu-card{
        margin-bottom: 0;

    }
    .testi-img{
        height: 130px;
        width: 130px;
        margin: auto;
    }
    .circle{
        height: 240px;
        width: 240px;

    }
    .sec-four>p{
        margin: 10px 0;
        font-size: 13px;
    
    }
    .sec-four>h2{
        font-size: 25px;
    
    }
    .subsribe>h1{
        font-size: 25px;
        /* background-color: red; */
    }
    .subsribe>p{
        font-size: 13px;
    }
    .search-box input[type="text"]{
        width: 250px;
        height:40px;
        padding: 0 25px;
    }
    .search-box input[type="submit"]{
        height: 43px;
        width: 100px;
        font-size: 13px;
    }
    .col1{
        gap: 10px;
        
    }
    .col2{
        gap: 10px;
       padding: 0 10px;
    }
    .col3{
        gap: 10px;
       padding: 0 12px;
    }
    .col4{
        gap: 20px;
       padding: 0 15px;
    }
    .col1>h1{
        font-size: 20px;
    }
    .col1>p{
        font-size: 13px;
    }
    .foot-abt>h1{
        font-size: 20px;
    }
    .foot-icons .fa-brands{
        font-size: 15px;
        padding: 10px;
        background: white;
        color: black;
        border-radius: 100%;
    }
    .abt-links{
        height: 100%;
        font-size: 13px;
    }
}
@media only screen and (max-width:769px){
    .logo{
        height: 60px;
    }
    span{
        font-size: 15px;
    }
    .menu{
        display: block;
    }
    .navlinks{
        position: absolute;
        flex-direction: column;
        top: 15vh;
        padding: 15px 0px;
        height: 85vh;
        right: -35px;
        width: 0%;
        background-color: rgba(255, 255, 255, 0.153);
        overflow: hidden;
        transition: all 300ms;
    }
   .search{
    position: absolute;
    right: 60px;
   }
   .search:hover input{
    width: 200px;
}
   .title>h1{
    font-size: 25px;
   }
   .menu-card{
    flex-wrap: wrap;
   }
   .left-column{
    margin-top: 30px;
   }
   /* section-3 */
   #section-3>.menu-card{
    gap: 50px;
    margin-top: 5vh;
    padding-bottom: 20px;
}
.circle{
    height: 200px;
    width: 200px;
}
.circle-content{
    transform: translateY(100%);
}
.circle-content>h1{
    font-size: 30px;
}
.circle-content>p{
    font-size: 15px;
}
.title>p{
    font-size: 13px;
}
/* section-4 */

.testi-img{
    height: 110px;
    width: 110px;
}
.sec-four>p{
    margin: 10px 0;
    font-size: 10px;

}
.sec-four>h2{
    font-size: 18px;

}
.hide{
    width: 100%;
    right:0;
}
.moveleft{
    left: -100%;
}
}
@media only screen and (max-width:426px){
    .logo{
        height: 50px;
    }
    span{
        font-size: 10px;
    }
    .search{
        /* right: 30px; */
        height: 20px;
        padding: 5px 5px;
        border-radius: 30px;
        align-items: center;
    }
     .search:hover input{
        width: 80px;
    }
    .main-content{
        height: 50h;
        width: 75%;
    }
    .main-content>h1{
        font-size: 27px;
        font-weight: bold;
    }
    .main-content>p{
        font-size: 12px;
    }
    .btn{
        margin: 20px 0px;
        font-size: 10px;
        width:50%;
    }
    .sec-heading>h1{
        font-size: 25px;
    }
    .sec-heading>p{
        font-size: 12px;
        line-height: 20px;
    }
    .card-items>h3{
        font-size: 12px;
    }
    .card-items>p{
        font-size: 12px;
    }
    .wrap-card{
        padding: 0px 0px;
    }
       /* Section-2 */
       #section-2>.menu-card{
        transform: translateY(0%);
        gap: 10px;
        flex-wrap: wrap;
    }
    .left-img{
        height: 150px;
        width: 200px;
        margin: auto;
    }
    .right-column{
        width: 100%;
    }
    .title{
        width: 100%;
        align-items: center;
        padding: 0 25px;
    }
    .title>h1{
        font-size: 20px;
    }
    .title>p{
        font-size: 15px;
    }
    /* section 4 */

    .subsribe>h1{
        font-size: 20px;
        text-align: center;
        /* background-color: red; */
    }
    .subsribe>p{
        font-size: 13px;
        padding: 0;
    }
    input::placeholder{
        font-size: 10px;
    }
    .search-box input[type="text"]{
        width: 180px;
        height:30px;
        padding: 0 22px;
    }
    .search-box input[type="submit"]{
        height: 32px;
        width: 100px;
        font-size: 13px;
    }
    /* footer */
    .col1{
        width: 100%;
        height: 20%;
        
    }
    .col2{
        width: 30%;
        height: 50%;

    }
    .col3{
        width: 30%;
        height: 50%;


    }
    .col4{
        width: 30%;
        height: 50%;

    }
    .copyright>p{
        text-align: center;
        font-size: 8px;
        padding: 10px 0;
    }
  
}
@media only screen and (max-width:376px){
    .left-img{
        height: 150px;
        width: 180px;
    }
    .title>h1{
        font-size: 20px;
    }
    .title>p{
        font-size: 10px;
    }
    .title .btn{
        font-size: 7px;
        width: 50%;
    }
    .search-box input[type="text"]{
        width: 180px;
        height:30px;
        padding: 0 22px;
    }
    input::placeholder{
        font-size: 10px;
    }
    .search-box input[type="submit"]{
        height: 35px;
        width: 80px;
        font-size: 12px;
        padding: 0;
    }
}
@media only screen and (max-width:321px){
    .sec-heading>h1{
        font-size: 20px;
    }
    .sec-heading>p{
        font-size: 10px;
        line-height: 20px;
    }
    .left-img{
        height: 100px;
        width: 120px;
    }
    .title{
        transform: translateY(20%);
    }
    .title>h1{
        font-size: 20px;
    }
    .title>p{
        font-size: 10px;
    }
    .title .btn{
        font-size: 10px;
        width: 50%;
    }
    .testi-img{
        height: 90px;
        width: 90px;
    }

    /* section 4 */
    .search-box input[type="text"]{
        width: 180px;
        height:30px;
        padding: 0 22px;
        margin-left: 35px;
       
    }
    input::placeholder{
        font-size: 10px;
    }
    .search-box input[type="submit"]{
        height: 35px;
        width: 80px;
        font-size: 10px;
        padding: 0;
        margin-right: 20px;
    }
    .foot-abt>h1{
        font-size: 15px;
    }
    .col2{
        padding-left: 12vh;
    }
    .col3{
        padding-left: 12vh;
    }
    .col4{
        padding-left: 12vh;
    }
  


}